dokument {
	background-color: #8DB8EE;
}

autorzy:before {
	content: 'Autorzy:';
	text-align: center;
	font-size: 30px;
	font-family: Verdana;
	color: white;
	padding: 10px;
}

autorzy > autor{
	background-color: #816D3A;
	font-family: Verdana;
	font-size: 20px;
	color: white;
	border-width: 5px;
	border-color: black;
	text-align: center;
	margin:20px;
	border-radius: 20px;
	display: block; 
	margin-left: 300px;
	margin-right: 300px;
}

baza::before {
	content: 'Baza samochodów:';
	text-align: center;
	font-size: 30px;
	font-family: Verdana;
	color: white;
	padding: 10px;
}

baza > samochód {
	font-family: Calibri;
	font-size: 16px;
	display: block;
	margin: 10px;
	padding: 10px;
	background-color: #F7ECCE;
	border-radius: 20px;
	margin-left: 150px;
	margin-right: 150px;
}

samochód {
	margin:10px;
	background-color: #F6EED9;

}

